<div class='jumbotron bg-primary text-white'>
  <div class='row'>
    <!-- Title -->
    <header class='col-lg-8 offset-lg-2'>
      <h1 class="display-4 text-center">Jacob Henning's Resume</h1>
      <p class="lead text-center">Welcome to my online resume. Feel free to browse through my resume and portfolio, or go ahead and checkout my main site.</p>
    </header>
    <!-- Navigation -->
    <nav class="col-12 navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" data-enpassid="__1">
        Menu
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
