body{overflow-x: hidden;}
.navbar-toggler {
  padding: 15px;
  width: 100%;
  color: rgba(255,255,255,0.8) !important;
  border-color: rgba(255,255,255,0.8) !important;
}
.card-header img {
  max-height: 60px; 
}
